body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-dashboard {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"],
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 20%;
    height: auto;
}

/* CSS for the logout button */
.logout-btn {
    position:fixed; /* Fixed positioning */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 10px ; /*Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
}

/* CSS for button hover effect */
.logout-btn:hover {
    background-color: #d32f2f; /* Darker red background on hover */
}